---
layout: default
---

<div class="row">
  <div class="col-xs-12 pw-section">
    <h2 class="text-center">Tickets Now Available For Purchase</h2>
    <p class="text-center">
      <a href="https://www.eventbrite.com/e/different-games-conference-2016-tickets-23115571296" class="btn btn-lg btn-callout pw-btn tickets-btn">
        Click Here to Purchase Tickets
      </a>
    <p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-6 pw-section pw-masthead conf">
    <p class="blurb">
      We are pleased to announce that the fourth annual Different Games Conference will take place on <strong>April 8-9, 2016</strong> at NYU MAGNET in <strong>Brooklyn, NY!</strong>
    </p>
  </div>
  <div class="col-xs-12 col-md-6 pw-section">
    In each of its past years, <a href="http://differentgames.org/">Different Games</a> has worked to foster diversity and inclusivity in games by amplifying the creative and critical voices of marginalized participants in games culture. Geared towards accessibility and radical inclusivity, our annual volunteer-led conference welcomes panels, workshops and playable games from presenters of all professional backgrounds and levels of expertise. Our programming is diverse and interdisciplinary with a focus on featuring emerging voices and representing identities and perspectives not typically supported by the commercial industry.
  </div>
</div>

<div class="row">
  <h2 class="text-center">Getting There</h2>
<p class="text-center">
    Detailed instructions on how to get to the conference are available on our <a href="https://www.eventbrite.com/e/different-games-conference-2016-tickets-23115571296">Eventbrite</a>.
  </p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.114966831036!2d-73.98826628459565!3d40.69346557933393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a4baa25f3f5%3A0xeec5289d5f28af6d!2sNYU+MAGNET+-+Media+and+Games+Network!5e0!3m2!1sen!2sus!4v1460025544642" class="col-xs-12" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 pw-section">
    <h2 class="text-center">Live Streaming</h2>
    <p class="text-center">
      Can't make it in person? Watch our live streams!
      <div class="list-group col-xs-12 col-md-6 col-md-offset-3">
        <a href="https://www.twitch.tv/differentgames1" class="list-group-item text-center">Main Space</a>
        <a href="https://www.twitch.tv/differentgames2" class="list-group-item text-center">Room 845</a>
        <a href="https://www.twitch.tv/differentgames3" class="list-group-item text-center">Room 811</a>
        <a href="https://www.twitch.tv/differentgames4" class="list-group-item text-center">Room 816</a>
      </div>
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 pw-section" id="conference-schedule">
    <h2 class="text-center">Conference Schedule</h2>

    <section class="schedule-controls">
      <label class="show-talks-label">Show Session Details</label>
      <input type="checkbox" name="show-talks" id="show-talks" checked>
    </section>

    <section class="schedule-content schedule-at-a-glance">
      {% include schedule-as-a-table.html %}
    </section>

    <section>
      <a href="/schedule" class="btn btn-lg btn-callout full-schedule-btn pw-btn">Full Schedule With Descriptions</a>
    </section>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 pw-section">

    {% include track-chairs.html %}

  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 pw-section">
    <p class="text-center">
      <a href="mailto:differentgamesconference@gmail.com?subject=Call for Proposals" class="btn btn-lg btn-callout pw-btn">
        Questions? Email us!
      </a>
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-6">
    <p class="text-center">
      <a href="http://www.differentgames.org" class="btn btn-default btn-lg">
        Different Games Collective
      </a>
    <p>
  </div>
  <div class="col-md-6">
    <p class="text-center">
      <a href="http://www.2015.differentgames.org" class="btn btn-default btn-lg">
        2015 Site Archive
      </a>
    <p>
  </div>
</div>
</div>
