---
layout: default
---
<div class="row">
  <div class="col-xs-12 col-md-6 pw-section pw-masthead conf">
    <p class="blurb">
      We are pleased to announce that the fourth annual Different Games Conference will take place on <strong>April 8-9, 2016</strong> at NYU MAGNET in <strong>Brooklyn, NY!</strong>
    </p>
  </div>
  <div class="col-xs-12 col-md-6 pw-section">
    In each of its past years, <a href="http://differentgames.org/">Different Games</a> has worked to foster diversity and inclusivity in games by amplifying the creative and critical voices of marginalized participants in games culture. Geared towards accessibility and radical inclusivity, our annual volunteer-led conference welcomes panels, workshops and playable games from presenters of all professional backgrounds and levels of expertise. Our programming is diverse and interdisciplinary with a focus on featuring emerging voices and representing identities and perspectives not typically supported by the commercial industry.
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 pw-section">
    <h2 class="text-center">Tickets Now Available For Purchase</h2>
    <p class="text-center">
      <a href="https://www.eventbrite.com/e/different-games-conference-2016-tickets-23115571296" class="btn btn-lg btn-callout pw-btn tickets-btn">
        Click Here to Purchase Tickets
      </a>
    <p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 pw-section" id="conference-schedule">
    <h2 class="text-center">Conference Schedule</h2>

    <section class="schedule-controls">
      <label class="show-talks-label">Show Session Details</label>
      <input type="checkbox" name="show-talks" id="show-talks" checked>
    </section>

    <section class="schedule-content schedule-at-a-glance">
      {% include schedule-as-a-table.html %}
    </section>

    <section>
      <a href="/schedule" class="btn btn-lg btn-callout full-schedule-btn pw-btn">Full Schedule With Descriptions</a>
    </section>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 pw-section">

    {% include track-chairs.html %}

  </div>
</div>



<div class="row">
  <div class="col-xs-12 pw-section">
    <p class="text-center">
      <a href="mailto:differentgamesconference@gmail.com?subject=Call for Proposals" class="btn btn-lg btn-callout pw-btn">
        Questions? Email us!
      </a>
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-6">
    <p class="text-center">
      <a href="http://www.differentgames.org" class="btn btn-default btn-lg">
        Different Games Collective
      </a>
    <p>
  </div>
  <div class="col-md-6">
    <p class="text-center">
      <a href="http://www.2015.differentgames.org" class="btn btn-default btn-lg">
        2015 Site Archive
      </a>
    <p>
  </div>
</div>
</div>