<div class="banner jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="/">
          <img class="img-responsive" src="/images/logo.png" alt="Different Games">
        </a>
      </div>
      <div class="col-md-9">
        <h1 class="tagline">
          Different Games Conference
        </h1>
      </div>
    </div>
  </div>
</div>

<!-- <nav id="nav" class="navbar navbar&#45;default"> -->
<!--   <div class="container"> -->
<!--     <div class="navbar&#45;header"> -->
<!--       <button type="button" class="navbar&#45;toggle collapsed" data&#45;toggle="collapse" data&#45;target="#navbar" aria&#45;expanded="false" aria&#45;controls="navbar"> -->
<!--         <span class="sr&#45;only">Toggle navigation</span> -->
<!--         <span class="icon&#45;bar"></span> -->
<!--         <span class="icon&#45;bar"></span> -->
<!--         <span class="icon&#45;bar"></span> -->
<!--       </button> -->
<!--       <a class="navbar&#45;brand" href="/">Home</a> -->
<!--     </div> -->
<!--     <div id="navbar" class="collapse navbar&#45;collapse"> -->
<!--       <ul class="nav navbar&#45;nav"> -->
<!--         {% for page in site.nav_pages %} -->
<!--           {% if page.title %} -->
<!--             <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li> -->
<!--           {% endif %} -->
<!--         {% endfor %} -->
<!--       </ul> -->
<!--     </div><!&#45;&#45;/.nav&#45;collapse &#45;&#45;> -->
<!--   </div> -->
<!-- </nav> -->
