<div class="schedule-at-a-glance" id="schedule-at-a-glance">
  <h2 class="text-center">Conference Schedule</h2>



  {% assign days = site.sessions | group_by:"day" | sort: "name" %}
  {% for day in days %}
    {% assign rooms = day.items | group_by: "room" | map: "name" | sort %}
    {% assign times = day.items | group_by: "time" | map: "name" | sort %}
    <h3>{{ day.name }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          {% for room in rooms %}
            <th>{{ room }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for time in times %}
          <tr>
            <th class="col-xs-1 time-listing">{{time}}</th>
            {% for room in rooms %}
              {% assign session = day.items | where: "room", room | where: "time", time | first %}
              <td>
                {% if session %}
                  <a href="{{session.permalink}}" class="session-link">{{ session.title }}</a>
<!--                   <ul>
                    {% for talk in session.talks %}
                      <li clas="listed-talk">{{ talk }}</li>
                    {% endfor %}
                  </ul>
 -->
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}

</div>