<div class="friday-listed-schedule">
  <h3>Friday</h3>
  <h4> 5pm to 6pm</h4>
  <ul><li>
  Registration & Arcade Open
  </li></ul>

  <h4> 6pm to 7pm</h4>
  <ul><li>
  Friday Evening Keynote
  </li></ul>

  <h4> 7pm to 7:50pm</h4>
    <ul>
      <li>
        Affective Play Workshop: Coffee: A Misunderstanding, by Dietrich Squinkifer
      </li>
      <li>
        Trauma & Self-Care Workshop: Your Brain is a Feature Not a Bug: Trauma & Self-Care, by Courtney Stanton
      </li>
      <li>
        Participatory Game Design Workshop: Learning Theories and Participatory Game Design in Educational Technology, by Giuliana Cucinelli, Katie Nicol, Junesse Christianns, Dominique Robertson, Roza Jeladyan, Muriam Bernier
      </li>
    </ul>

  <h4> 8pm to 9:00pm</h4>
    <ul>
      <li>Game Studies Curriculum Workshop: An Education of One's Own: Bringing Intersectional Discussion to Games Education, by Emily Flynn-Jones, Stephanie Fisher, Helen Kennedy, Jennifer Jenson & Suzanne de Castell
      </li>
      <li> Race, Culture, & Games Workshop: Building Safer Communities, by Caroline Sinders, Riley MacLeod, Katherine Cross</li>
    </ul>
</div>

<div class="saturday-listed-schedule">
  <h3>Saturday</h3>
  <h4>10am to 10:30am</h4>
  <ul><li>
    Registration & Coffee
  </li></ul>

  <h4>10:30am to 11:30am</h4>
  <ul><li>
  Opening & Keynote
  </li></ul>

  <h4>11:30am to 12:45pm</h4>
    <ul>
      <li>Affective Play Session
        <ul>
          <li>Play design: a self-consciousness act, by Annamaria Andrea Vitali
          </li>
          <li>Being A Part Of The Things You Make, by Elizabeth Sampat
          </li>
        </ul>
      </li>
      <li>Race, Culture, & Games Session
        <ul>
          <li>Beyond the Palette Swap: Methodologies for Customizing Ethnicity, by Kevin Chen
          </li>
          <li>Engaging with ideology: Towards non-Eurocentric historical themed video games, Manuel Alejandro Cruz Martínez
          </li>
          <li>Post-Mortem: Moon Hunters and Matriarchy, by Tanya X. Short</li>
        </ul>
      </li>
      <li>Doing More With Games
        <ul>
          <li>Metafiction in Videogames, by James Earl Cox III
          </li>
          <li>Post-Mortem of Take Care: A Game and Wellness Jam, by Stephanie Fisher</li>
          <li>Generating Spaces Outside of Videogame Culture Through Pop-up Arcades, by Amanda Wong</li>
        </ul>
      </li>
      <li>Participatory Game Design
        <ul>
          <li>Intergenerational game design from the participant’s perspective, by Margarida Romero, Sara Vogel, Kim Sawchuk
          </li>
          <li>Using participatory video game production to address issues of marginalization with LGBTQIA+ youth, by Nathan Thompson, Chad Comeau
          </li>
          <li>Breaking the age barrier through participatory intergenerational game design, by Bob De Schutter, Margarida Romero
          </li>
          <li>It’s Not Always About You! – Lessons Learnt From Participatory Deep Game Design, by Doris C. Rusch</li>
        </ul>
      </li>
    </ul>

  <h4>12:45pm to 1:30pm</h4>
  <ul><li>
  Lunch
  </li></ul>

  <h4>1:30pm to 2:45pm</h4>
    <ul>
      <li>Player Agency, Mods, & Glitches Session
        <ul>
          <li>Agency Performed, by Tamara Yadao
          </li>
          <li>Glitch, Breakage, and Texture In Interactive Art, by Alex Leitch</li>
          <li>Gendered Code, by Lindy Wilkins</li>
        </ul>
      </li>
      <li>Affective Play Session
        <ul>
          <li>The Possibilities and Perils of Being Femme in Games, by Jessica Moore
          </li>
          <li>Reimagining Gender, by Paolino Pietro Caputo</li>
          <li>We Are Fine: That Ain't Your Old Folks Oppression 101, by Hope Erin Phillips, Raoul Olou, Nicole Pacampara</li>
        </ul>
      </li>
      <li>Video Games & Indigenous Culture 
        <ul>
          <li>Working with Indigenous Communities, by Josh Samuels and Roberto Borrero
          </li>
        </ul>
      </li>
      <li>Accessible Game Design 
        <ul>
          <li>Metatuning Accessibility: How High Life! Redefined Collaborative Design, by Laquana Cooke, Ben Chang, Real Talk, Jamey Stevenson
          </li>
          <li>CLONE WARS: The irrelevance of ownership in a collectivist development cycle, by Mohini Dutta</li>
        </ul>
      </li>
    </ul>


  <h4>3:00pm to 4:15pm</h4>
    <ul>
      <li>Race, Culture, & Games Session
        <ul>
          <li>Effects of Model Minority Stereotype on Game Play, by Lee Tae Cobb
          </li>
          <li>What College Doesn't Teach You About Working in Games, by Thadchayani Kupendiran</li>
          <li>That which must not be named: understanding a reactionary movement and its structural roots, by Carolyn Jong, Joachim Despland</li>
          <li>Deviant Male Identities in Japanese RPGs: Heterosexual Heroes, Gay Villains, by Juan F. Belmonte</li>
        </ul>
      </li>
      <li>Affective Play Session
        <ul>
          <li>Being There: Presence and Propaganda in Historical Virtual Reality Experiences, by Andrew Smart
          </li>
          <li>Solace State: The People's Negotiation in the Politics of Affect, by Tanya Kan</li>
        </ul>
      </li>
      <li>Representation Then & Now
        <ul>
          <li>Making Queer Games History: The assessment of LGBTQ game content, by Adrienne Shaw, Evan W. Lauteria, Emma Leigh Waldron
          </li>
          <li>Grappling with Representation: portrayal of women in fighting games, by Acacia Christensen</li>
        </ul>
      </li>
      <li>Player Agency, Mods, & Glitches Session
        <ul>
          <li>Robots get a bad rap: crafting twitterbots and artificial internet company, by Izzie Colpitts-Campbell
          </li>
        </ul>
      </li>
    </ul>

  <h4>4:30pm to 5:45pm</h4>
    <ul>
      <li>Video Games in Latin America
        <ul>
          <li>Using an underdeveloped gaming ecosystem as an advantage, by Adolfo Aguirre
          </li>
          <li>A critical analysis of the Brazilian independent games scene, by Enric Llagostera</li>
          <li>A Paraguayan Approach to Game Development, by Gabriela Aveiro-Ojeda</li>
        </ul>
      </li>
      <li>Affective Play Session
        <ul>
          <li>A Perfectly Normal Panel About Awkwardness in Games, by Allison Kyran Cole, Jessica Rose Marcotte, Dietrich Squinkifer, Ida Marie Toft
          </li>
        </ul>
      </li>
      <li>Player Agency, Mods, & Glitches Session
        <ul>
          <li>The Non-Compliance of Glitch: A Reflection on PsXXYborg, by Hannah Epstein, Sagan Yee, Alex Leitch
          </li>
        </ul>
      </li>
    </ul>
</div>