    <h2 class="text-center">Introducing our 2016 Track Chairs</h2>
    <p>
This year, Different Games is thrilled to welcome 6 respected colleagues on board as our first ever DG Track Chairs.
This group of artists, game designers and academics have proposed calls for content in areas of interest to the DG community and joined us in reviewing the 2016 submissions in their respective tracks.
We’re humbled to have them join us by volunteering their vision and expertise to help shape some of the content of this year’s event. 
    </p>

    <p>
While <span class="cool">submissions were welcome on all topics related to inclusivity, diversity and other themes of interest to the DG community,</span> we’re pleased to announce the following DG Conference tracks and the chairs who will be presenting them:
    </p>

    <div class="track-chairs">

    <div class="track-chair">
      <a role="button" data-toggle="collapse" href="#affective-play" class="collapsed" title="Affective Play - Kara Stone, click for more information"><h3>Affective Play - Kara Stone</h3></a>
      <div class="collapse" id="affective-play">
        <p>
  This track will consider the topic of feelings and video games, examining the lines between emotions, bodies and the psyche, and opening up spaces for alternative modes of thought, discourse, and play.
  Affect bridges experiences from the personal to the political, and is an epistemological lens that can help us explore the depths of experience found within sensation, feelings, cognition and objects.
  All video games use the body and the senses as a mode of interaction yet there is still often a sense of disembodiment, of falling into the screen.
  What are the ways in which we do and do not embody play?
  How are feelings communicated through games?
  What happens to the players (and the creators) when games explore intense emotions such as mental illness, abuse, death, deep love, and queer desire?
  Submissions might include (but are not limited to) reflection on representations of mental health, sex and sexuality, analyses of the physical medium of games (including sensory-based controllers), critiques of the "immersive," online social relationships, and the feelings that come up when playing, hacking, and creating games.
        </p>
      </div>
    </div>

    <div class="track-chair">
      <a role="button" data-toggle="collapse" href="#games-in-latin-america" class="collapsed" title="Video Games in Latin America - Edgar Serrano, click for more information"><h3>Video Games in Latin America - Edgar Serrano</h3></a>
      <div class="collapse" id="games-in-latin-america">
        <p>
  In Latin America, video games are still in many ways taboo; and terms like gamification are barely mentioned.
  This track welcomes conversation with those OUTSIDE the industry who have taken on the risks associated with collaborating on or investing in those who are inside it.
  What motivates some to engage with media that remains taboo, and how is their experience and perspective on games different than in countries where the cultural acceptance of games is taken for granted?
        </p>
      </div>
    </div>

    <div class="track-chair">
      <a role="button" data-toggle="collapse" href="#games-and-indigenous-culture" class="collapsed" title="Video Games & Indigenous Culture - Edgar Serrano, click for more information"><h3>Video Games & Indigenous Culture - Edgar Serrano</h3></a>
      <div class="collapse" id="games-and-indigenous-culture">
        <p>
  This track will explore the relationship of video games to indigenous culture. Given the success of a number of recent high profile game projects focused on representing indigenous culture and history, what is the potential and observed impact of video games depicting indigenous traditions or experiences?
  Post-mortems, research projects and insights from those currently working on titles are welcome to share about specific projects and offer insights into their goals and methodologies as well as the outcome of their work.
        </p>
      </div>
    </div>

    <div class="track-chair">
      <a role="button" data-toggle="collapse" href="#accessible-game-design" class="collapsed" title="Accessible Game Design - Rees Shad, click for more information"><h3>Accessible Game Design - Rees Shad</h3></a>
      <div class="collapse" id="accessible-game-design">
        <p>
  How can we go about simplifying the game design process to make it more accessible to new designers, or more encouraging when initiating non-design students and educators into using as a practice or as a pedagogical tool?
  Would creating more accessible design practices invite participation from more diverse creators?
  How might we advocate for simplified design strategies and what would we see as the benefit of such efforts when it comes to the pedagogical use of games and game design?
        </p>
      </div>
    </div>

    <div class="track-chair">
      <a role="button" data-toggle="collapse" href="#participatory-game-design" class="collapsed" title="Participatory Game Design - Margarida Romero, click for more information"><h3>Participatory Game Design - Margarida Romero</h3></a>
      <div class="collapse" id="participatory-game-design">
        <p>
  Participatory game design activities possess the ability to promote inclusivity and strengthen social solidarity among diverse groups.
  The participatory game design is a process aiming to engage end-users not only as a players or testers but as active participants of the game design decision process.
  The process and experience of collaborating on a game design project provides participants with meaningful, fulfilling experiences that may bring them closer together and help raise critical awareness of the lived experiences of other individuals and groups.
  This track welcomes papers exploring strategies for promoting participatory game design, insightful reflections on the experience coordinating or being involved in a participatory game design exercise, research or practical cases, and potential obstacles or challenges proponents need to keep in mind when constructing a participatory game design exercise.
  Different approaches of participatory game design are welcome to this track including but not limiting to co-design, intergenerational game creation, game design as a knowledge modelling activity and inclusive design.
        </p>
      </div>
    </div>

    <div class="track-chair">
      <a role="button" data-toggle="collapse" href="#race-and-culture" class="collapsed" title="Race and Culture in Games - Chris Algoo, click for more information"><h3>Race and Culture in Games - Chris Algoo</h3></a>
      <div class="collapse" id="race-and-culture">
        <p>
  While gaming is enjoyed by a hugely diverse swath of humanity, creators and characters are overwhelmingly white and non-white characters are often characterized as racial or cultural stereotypes.
  Broadening the pool of existing characters and their creators could lead to more interesting games and stories, but how can this be accomplished?
  In this track, we will explore race and culture in games in a number of ways.
  Looking at games from the past, present and future, we will discuss ways to encourage the creation of culturally diverse games and creators, and highlight those already in the field.
  We also welcome discussions of the effects of representation (or lack thereof) on players and creators.
  This is a broad and deep topic, and there are infinite ways to examine it.
  Subtopics might include Cultural Appropriation; Cultural Stereotypes; Diversity in Creators; Diversity in Works and Characters; Race, Culture, and Intersectionality.
        </p>
      </div>
    </div>

    <div class="track-chair">
      <a role="button" data-toggle="collapse" href="#player-agency-mods-glitches" class="collapsed" title="Player Agency, Mods, and Glitches - Yifat Shaik, click for more information"><h3>Player Agency, Mods, and Glitches - Yifat Shaik</h3></a>
      <div class="collapse" id="player-agency-mods-glitches">
        <p>
  The track will explore the ways game glitches, mods and cheats are used by players as means of self expression and to increase their control over the game world.
  Special attention will be paid to exploring how underrepresented group have or can use these tools to create alternative ways of playing and creating games which ultimately promote diversity.
  How have game designers responded to those practices?
  With rejection or by incorporating them into games?
  This track will focus on how the subversion of game mechanics and codes can be used for promoting greater player agency and diversity in games.
        </p>
      </div>
    </div>