.submission-formats {
  h3 {
    border-bottom: 5px solid white;
    display:inline-block;
    color: white;
    padding:5px;
  }

  .papers {
    background: $pinwheel-dark-blue;
  }

  .workshops {
    background: $pinwheel-green;
  }

  .arcade {
    background: $pinwheel-red;
  }
}

.track-chairs {
  margin-top: 40px;
}

.track-chair {
  display:block;
  margin: 1em 0;

  a {
    display: inline-block;
    padding: 5px;
    transition: all .2s ease-in-out;
    transform-origin: center center;

    background: rgba(56, 61, 88, 1);
    color: white;


    &::after {
      content: '\f067';
      font-family: FontAwesome;
      margin: auto 0.5em;
      color: $pinwheel-blue;
      font-weight:normal;
      transform-origin: center center;
      transform: rotate(45deg);
      transition: color 0.2s ease-in-out;
      transition: transform 0.5s ease-in-out;
      display: inline-block;
    }

    &:focus { text-decoration: none;}

    &:hover, &.collapsed:hover {
      background: rgba(56, 61, 88, 1);
      color: white;

      &::after { 
        color: white;
      }
    }

    &.collapsed {
      color: $pinwheel-dark-blue;
      background: rgba(56, 61, 88, 0);
      transition: color 0.2s ease-in-out;

      &::after {
        transform: rotate(0deg);
      }
    }

    h3 {
      display: inline;    }
  }

  p {
    padding: 10px;
  }
}

.format-description {
  padding: 10px;
}

.submit {
  margin-top: 2em;

  a:hover, a:focus { text-decoration: none;}

  i {
    display:inline-block;
    margin-right:.25em;
  }

  .papers, .workshops, .arcade { 
    padding: 1em;
    color: white;
    opacity: 1;
    transition: 0.2s ease-in all;

    &:hover {
      opacity: .65;
    }

    h3 {
      margin-top: 0px;
    }
  }

  .papers {
    background-color: $pinwheel-dark-blue;
  }
  .workshops {
    background-color: $pinwheel-green;
  }
  .arcade {
    background-color: $pinwheel-red;
  }
}