.track-chairs {
  margin-top: 40px;
}

.track-chair {
  display:block;
  margin: 1em 0;

  a {
    color: $pinwheel-dark-blue;
    margin: 1em 0;
    border-bottom: 4px solid rgba(56, 61, 88, 0);
    transition: all .2s ease-in-out;

    &:focus { text-decoration: none;}

    &:hover {
      text-decoration: none;
      border-bottom: 4px solid rgba(56, 61, 88, 0.75);
    }

    &:hover {
      &::after { 
        display: inline-block;
        transform:translateX(5px);
        backface-visibility: hidden;
      }
    }

    &::after {
      content: "Collapse";
      margin-left: 0.5em;
      size: 0.5em;
      color: $pinwheel-blue;
      font-weight:normal;
      font-style: italic;
      transition: all .2s ease-in-out;
    }

    &.collapsed::after {
      content: "Expand";
    }

    h3 {
      display: inline;    }
  }

  p {
    padding: 10px;
  }
}

.format-description {
  padding: 10px;
}

.submit {
  margin-top: 2em;

  a:hover, a:focus { text-decoration: none;}

  .papers, .workshops, .arcade { 
    padding: 1em;
    color: white;
    border-radius: 5px;

    h3 {
      margin-top: 0px;
    }
  }

  .papers {
    background-color: $pinwheel-dark-blue;
  }
  .workshops {
    background-color: $pinwheel-green;
  }
  .arcade {
    background-color: $pinwheel-red;
  }
}